<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Page Not Found</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/404errorScript.js"></script>
    <link rel="stylesheet" type="text/css" href="public/styles/style.css">

</head>
<body>
    <div class="h-screen w-screen bg-blue-500 flex justify-center content-center flex-wrap">
        <p class="font-sans text-white text-8xl">404!</p>
    </div>

    <div class="absolute w-screen bottom-0 mb-8 text-white text-center font-sans text-xl font-mono">
        <span class="opacity-60">Take me back to</span>
        <a class="border-b" href="localhost:90">localhost:90</a>
    </div>

</body>
</html>